td.d-block.m-3.p-3.custom-border{
  border: 3px solid black;

};
input.d-block.m-3.p-3.custom-border{
  border: 3px solid black;

};
.table.table-bordered.border-primary{
  text-align: center;
};

.heading{
  margin-top: 25%;
  margin-left: 50%;
  color: chocolate;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
};
button.btn.btn-primary{
  margin-left: 50%;
};

nav.navbar.navbar-expand-lg{
  background-color:darkcyan;
  
};
a.navbar-brand{
  color: white;
};
a.nav-link{
  color: crimson;
  font-weight: bolder;
  font-size: medium;
};
